.bookmark {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem;
    border: 0.5px solid darkslategrey;
    border-left: 3px solid darkslategrey;
    background-color: rgba(0, 0, 0, 0.125);
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.bookmark__div1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.bookmark__headline {
    display: inline;  
}

.bookmark__checkbox {
    display: none;
}

.bookmark__checkbox + label {
    color: grey;
}

.bookmark__checkbox:checked + label {
    color: darkslategrey
}

.bookmark__bookmark {
    position: relative;
    left: 6vw;
    bottom: 4vh;
    font-size: 6vw;
}

.bookmark__text {
    margin: 1rem;
    text-align: justify;
    font-size: 0.8rem;
}

.bookmark__button {
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: .5rem;
}

.bookmark__tags {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.bookmark__tags p {
    display: inline;
}