footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    height: auto;
}

.footer__nav {
    display: flex;
    width: 25%;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    font-size: 6vw;
}

.footer__nav div {
    width: 50%;
    border-top: 3px solid transparent;
    padding: 0 0.5rem;
}

.footer__nav div:active {
    border-top: 3px solid #0080b7;
    color: #0080b7;
}

.footer__nav div:hover {
    border-top: 3px solid #0080b7;
    color: #0080b7;
}