footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    height: auto;
}

.footer__nav {
    display: flex;
    padding: 0 2.5rem;
    width: 25%;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    font-size: 6vw;
}

.footer__nav:nth-child(1):active {
    border-top: 3px solid darkslategrey;
    color: darkslategrey;
}

.footer__nav:nth-child(2):active {
    border-top: 3px solid lightgreen;
    color: lightgreen;
}

.footer__nav:nth-child(3):active {
    border-top: 3px solid lightsalmon;
    color: lightsalmon;
}

.footer__nav:nth-child(4):active {
    border-top: 3px solid rgb(247, 247, 108);
    color: rgb(247, 247, 108);
}